﻿@using X.PagedList.Mvc

@model AscendFindLab.Models.ViewModels.StartPageViewModel

@{
    ViewBag.Title = "Steam Game Search";
}

<div class="row">

    <div class="col-lg-9">
        <h2>@Model.TotalResults Results</h2>

        <!-- START Edit inside of this area -->

        @Html.Partial("_SteamGameResults", Model.SearchResults)

        <!-- END Edit inside of this area -->

        @Html.PagedListPager(Model.PagedList, page => UrlUtility.AddQueryString(Request.Url, "Page", page.ToString()))
    </div>

    <div class="col-lg-3">
        <h2>Boost By</h2>

        @if (Model.CategoriesFacet.Terms.Any())
        {
            <h3>
                Category
                @if (!string.IsNullOrEmpty(Model.BoostCategory))
                {
                    <a style="font-size: .7em;" href="@UrlUtility.RemoveQueryStrings(Request.Url, new[] { "Page", "BoostCategory" })">Clear</a>
                }
            </h3>
            <ul class="">
                @foreach (var term in Model.CategoriesFacet.Terms)
                {
                    <li>
                        @if (term.Term == Model.BoostCategory)
                        {
                            <strong>@term.Term (@term.Count)</strong>
                        }
                        else
                        {
                            <a href="@UrlUtility.UpdateQueryString(Request.Url, new Dictionary<string, string> { { "BoostCategory", @term.Term } }, new[] { "Page" })">@term.Term (@term.Count)</a>
                        }
                    </li>
                }
            </ul>
        }

        @if (Model.GenresFacet.Terms.Any())
        {
            <h3>
                Category
                @if (!string.IsNullOrEmpty(Model.BoostGenre))
                {
                    <a style="font-size: .7em;" href="@UrlUtility.RemoveQueryStrings(Request.Url, new[] { "Page", "BoostGenre" })">Clear</a>
                }
            </h3>
            <ul class="">
                @foreach (var term in Model.GenresFacet.Terms)
                {
                    <li>
                        @if (term.Term == Model.BoostGenre)
                        {
                            <strong>@term.Term (@term.Count)</strong>
                        }
                        else
                        {
                            <a href="@UrlUtility.UpdateQueryString(Request.Url, new Dictionary<string, string> { { "BoostGenre", @term.Term } }, new[] { "Page" })">@term.Term (@term.Count)</a>
                        }
                    </li>
                }
            </ul>
        }

        <h3>
            Price
            @if (!string.IsNullOrEmpty(Model.BoostPrice))
            {
                <a style="font-size: .7em;" href="@UrlUtility.RemoveQueryStrings(Request.Url, new[] { "Page", "BootPrice" })">Clear</a>
            }
        </h3>
        <ul>
            <li>
                @if (string.Equals(Model.BoostPrice, "free"))
                {
                    <strong>Is Free</strong>
                }
                else
                {
                    <a href="@UrlUtility.UpdateQueryString(Request.Url, new Dictionary<string, string> { { "BoostPrice", "free" } }, new[] { "Page" })">Is Free</a>
                }
            </li>
            <li>
                @if (string.Equals(Model.BoostPrice, "notfree"))
                {
                    <strong>Is Not Free</strong>
                }
                else
                {
                    <a href="@UrlUtility.UpdateQueryString(Request.Url, new Dictionary<string, string> { { "BoostPrice", "notfree" } }, new[] { "Page" })">Is Not Free</a>
                }
            </li>
        </ul>
    </div>

</div>