﻿@model SteamGameLite

<div class="game-lite">
    <a href="/Game/@Model.ApplicationId">
        <img src="@Model.HeaderImage" alt="@Model.Name">
    </a>
    <h6 class="text-center">@Model.Name</h6>
</div>